body {
  margin: 10;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 100%;
}

.wrap-content {
  background: url("./images/img.jpg") no-repeat;
  background-size: cover;
  height: 90vh;
}

header {
  padding: 50px 100px 70px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
}

.navbar a {
  color: #fff;
  font-size: 16px;
  line-height: 19.36px;
  text-decoration: none;
}

.contact-info {
  display: flex;
  align-items: center;
  background: #b6b7b8e4;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: white;
  margin: 0 20px;
}

.location,
.phone {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.phone span {
  display: block;
  margin-top: 5px;
}

.characteristic {
  height: 464px;
  background-color: #231f21;
  color: #fff;
  background-size: cover;
}
.characteristic h1 {
  padding: 59.77px 0 0 100px;
  font-size: 36px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}
.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px 100px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: sans-serif;
}
.line {
  width: 30px;
  height: 3px;
  background-color: #e0e0e0;
  margin: 5px auto;
}

.text {
  font-size: 14px;
  line-height: 1.6;
}

.text-large {
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}
.feature-item img {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-business-texts {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}
.two-texts {
  padding-left: 80px;
}
.about-titles {
  font-size: 40px;
  padding-bottom: 30px;
}
.black-line {
  background: #231f21;
  width: 598px;
  height: 2px;
}

.about-title {
  font-size: 32px;
  padding-bottom: 30px;
}
.about-text {
  width: 698px;
  font-family: sans-serif;
}
.blue-line {
  width: 2px;
  height: 38px;
  background: #03927E;
}
.cursiv-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cursiv-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.about__info {
  display: flex;
  justify-content: space-between;
}
.about-image {
  width: 800px;
  height: 741px;
}
.about-image2 {
  width: 600px;
  height: 741px;
}
.yellow {
  height: 20px;
  background: rgb(202, 213, 4);
}
.green {
  height: 20px;
  margin: 0;
  background: rgb(2, 101, 78);
}

.red {
  width: 2px;
  height: 30px;
  background: red;
}

.location-text {
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

.subtitle {
  font-size: 22px;
  margin-bottom: 10px;
}

.line {
  width: 80%;
  height: 1px;
  background-color: #333;
  margin: 10px auto;
}

.description {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.6;
  text-align: center;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.locations img {
  width: 100%;
}
